name: Multi-GHC/Cabal/Stackage build tests for library

# Trigger the workflow on push or pull request on master, and also on ci-test for push.
on:
  pull_request:
    branches: [master]
  push:
    branches: [master, ci-test]

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        ghc:
          - '8.6'
          - '8.8'
          - '8.10'
          - latest
        include:
          # Include a cabal version to associate with a ghc version for tests.
          - ghc: '8.6'
            cabal: '3.0'
          - ghc: '8.8'
            cabal: '3.0'
          - ghc: '8.10'
            cabal: '3.2'
          - ghc: latest
            cabal: latest

    steps:
    - uses: actions/checkout@v2

    - name: Remove examples subdirectory
      run: rm -r ./examples

    - id: setup-haskell-cabal
      name: Setup Haskell
      uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - name: Configure
      run: |
        cabal configure --enable-tests --enable-benchmarks --test-show-details=direct

    - name: Freeze
      run: |
        cabal freeze

    - name: Cache ~/.cabal/store
      uses: actions/cache@v2.1.3
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

    - name: Install dependencies
      run: |
        cabal build all --only-dependencies

    - name: Build
      run: |
        cabal build all

    - name: Test
      run: |
        cabal test all

  stack:
    name: ${{ matrix.os }} / stack ${{ matrix.resolver }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        resolver:
          - 'lts-14.27'
          - 'lts-16.31'
          - 'lts-17.15'
          # Use 18.6 for all OS, 18.7 for all but windows - see stackage/#6176.
          - 'lts-18.6'
          - 'lts-18.7'
        include:
          # Specific stack config files for specific resolver snapshots.
          - resolver: 'lts-14.27'
            conffile: 'stack-lts14.yaml'
          - resolver: 'lts-16.31'
            conffile: 'stack-lts16.yaml'
          - resolver: 'lts-17.15'
            conffile: 'stack.yaml'
          - resolver: 'lts-18.6'
            conffile: 'stack.yaml'
          - resolver: 'lts-18.7'
            conffile: 'stack.yaml'
        exclude:
          - os: windows-latest
            resolver: 'lts-18.7'

    steps:
    - uses: actions/checkout@v2

    - name: Remove examples subdirectory
      run: rm -r ./examples

    - name: Install Haskell Stack
      uses: haskell/actions/setup@v1
      with:
        enable-stack: true
        stack-version: latest

    - name: Setup Haskell Stack
      run: |
        stack setup --resolver ${{ matrix.resolver }}

    - name: Cache ~/.stack
      uses: actions/cache@v2
      with:
        path: ~/.stack
        key: ${{ runner.os }}-${{ matrix.resolver }}-stack

    - name: Install dependencies
      run: |
        stack build --test --bench --no-run-tests --no-run-benchmarks --only-dependencies --stack-yaml ${{ matrix.conffile }}

    - name: Build
      run: |
        stack build --test --bench --haddock --no-run-tests --no-run-benchmarks --no-haddock-deps --stack-yaml ${{ matrix.conffile }}

    - name: Test
      run: |
        stack test --stack-yaml ${{ matrix.conffile }}
